@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {

    --big-font: 3.5rem;
    --h2-font: 2.5rem;
    --h3-font: 2rem;
    --p-font: 1.1rem;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(13, 78, 255), rgb(0, 140, 255));
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.head h1 {
    margin-right: 50px;

}

img {
    width: 25%;
}

h1 {

    font-weight: 800;
    line-height: 1.1;
    margin: 35px 0 35px;
    padding-bottom: 40px;
    font-size: var(--big-font);
    color: var(--two-color);
    color: rgb(255, 255, 255);

}

h2 {

    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 35px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: var(--h3-font);

}


h3 {
    padding: 1rem 0;
}


ul {
    padding: 1rem 0;
}

li {
    padding: 1rem 0;
}




footer {

    text-align: center;
    padding-top: 2rem;
}

footer a {
    color: var(--text-color);
    text-decoration: underline;
}



@media only screen and (max-width: 660px) {

    h1 {
        font-size: var(--h2-font);
    }


}